@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto Flex';
  src: url('./fonts/RobotoFlex-Regular.woff2');
}

*{
  font-family: 'Roboto Flex', sans-serif;
}